+++
title = "MOSN"
linkTitle = "MOSN"

+++

{{< blocks/cover title="Modular Open Smart Network proxy" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/mosn/mosn">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">An Open Source Cloud Native Proxy for Edge and Service Mesh</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
MOSN can be integrated with any Service Mesh which support xDS API. It also can be used as an independent Layer 4 or Layer 7 load balancer, API Gateway, cloud-native Ingress, etc.
{{% /blocks/lead %}}

{{< blocks/section >}}
{{% blocks/feature icon="fa-question" title="Any questions?" %}}
Request features, ask questions or report a bug? Feel free to <a href="https://github.com/mosn/mosn/issues/new/choose">file a issue</a>.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
We do a [Pull Request](https://github.com/mosn/mosn/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" %}}
For announcement of latest features etc on <a href="https://twitter.com/MosnProxy">@MosnProxy</a>.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>
{{< /blocks/section >}}
-->
