+++
title = "MOSN"
linkTitle = "MOSN"
+++

{{< blocks/cover title="Modular Open Smart Network" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/mosn/mosn">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">An Cloud-Native Network Proxy Platform</p>
	<div class="mx-auto mt-5">{{< blocks/link-down color="info" >}}</div>
</div>
{{< /blocks/cover >}}

<div id="overview">
  <div class="contain">
    <h2 class="section-head">What is MOSN?</h2>
    <p>
    MOSN (Modular Open Smart Network) is a cloud-native network proxy written in Go language. It is open sourced by Ant Group and verified by hundreds of thousands of production containers in 11.11 global shopping festival.
    MOSN provides the capabilities of multiple protocol, modularity, intelligent and security. It integrates a large number of cloud-native components, and also integrates a Envoy network library, which is high-performance and easy to expand.
    MOSN and Istio can be integrated to build Service Mesh, and can also be used as independent L4/L7 load balancers, API gateways, cloud native Ingress, and etc.
    </p>
     <p>
    <img src="/images/cloud-native-computing.svg" width="300px" alt="Cloud Native Computing Foundation" title="Cloud Native Computing Foundation">
    </p>
    <p>
    MOSN enriches the <a href="https://landscape.cncf.io/">CNCF Cloud Native Landscape</a>.
    </p>
  </div>
</div>

{{< blocks/section >}}
{{% blocks/feature icon="fa-question" title="Any questions?" %}}
Features request, ask questions or report bugs? Feel free to <a href="https://github.com/mosn/mosn/issues/new/choose">file a issue</a>.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" %}}
We do a [Pull Request](https://github.com/mosn/mosn/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" %}}
For announcement of latest features etc on <a href="https://twitter.com/MosnProxy">@MosnProxy</a>.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>
{{< /blocks/section >}}
-->
